body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    line-height: 1.1em;
}

#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.qtip {
    max-width: 600px !important;
}

.qtip-title {
    font-size: 14px;
}

.qtip-content {
    font-size: 12px;
}

.alert{
    line-height: 1.5em;
}